{% extends 'base.html.twig' %}

{% block title %} contact Form - Food menu app'{% endblock %}

{% block body %}
    <h3 class="mb-3">Send us your message</h3>
    {{form(form)}}

    {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
{% endblock %}
