<ul class="">
    <li class=""><small>&copy; 2022 Menu Food App </small></li>
    <li class=""><small><a href="">Legal Notice</a></small></li>
    {# <li class="list-group-item"><a href="#">Retour haut de page</a></li>                 #}
</ul>
